/* line 1, ../scss/_main.scss */
html {
  overflow-y: scroll;
}

/* line 4, ../scss/_main.scss */
body {
  font-size: 14px;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), local("Raleway-Thin"), url(https://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(https://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(https://fonts.gstatic.com/s/raleway/v9/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url(https://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}
/* anchor tags should use pointer like buttons */
/* line 42, ../scss/_main.scss */
a {
  cursor: pointer;
  color: #428bca;
}

/** this allows us to display nothing until angular has applied changes to the dom
    without this we see what the dom wants to display first, and then get an update
    within milliseconds once angular is finished. -- it's the "funny flicker effect"
 **/
/* line 51, ../scss/_main.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/** **
supports grid feature
**/
/******** Grid Global ********/
/* line 61, ../scss/_main.scss */
.ngPagerControl .ngPagerButton {
  /** pagination buttons are pushed down 10px... fix that here... **/
  margin-top: -10px;
  /** and a little space in between  **/
  margin-left: 2px;
  margin-right: 2px;
}

/* line 70, ../scss/_main.scss */
.nglabel {
  display: block;
  float: left;
  font-weight: bold;
  padding-right: 5px;
}

/* line 77, ../scss/_main.scss */
.ngNoSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** better position ngGrid cell contents **/
/* line 87, ../scss/_main.scss */
.ngCell div {
  margin-top: 5px;
  margin-left: 5px;
}

/******** Grid ********/
/* line 94, ../scss/_main.scss */
.gridStyle {
  border: 1px solid #d4d4d4;
  /* width: none !important; */
  height: 420px;
}

/* line 100, ../scss/_main.scss */
.ngGrid {
  background-color: #fdfdfd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/******** Header ********/
/* line 112, ../scss/_main.scss */
.ngGroupPanel {
  background-color: #eaeaea;
  overflow: hidden;
  border-bottom: 1px solid #d4d4d4;
}

/* line 118, ../scss/_main.scss */
.ngGroupPanelDescription {
  margin-top: 5px;
  margin-left: 5px;
}

/* line 123, ../scss/_main.scss */
.ngGroupList {
  list-style-type: none;
}

/***
   modal / login / password
**/
/* line 131, ../scss/_main.scss */
.modal-body {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* line 137, ../scss/_main.scss */
.modal-body * {
  display: block;
  margin: 10px 0 5px 0;
  width: 95%;
}

/* line 143, ../scss/_main.scss */
#password {
  display: inline;
  float: left;
  max-width: 69%;
  min-width: 63px;
}

/* line 1, ../scss/home/_home.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.table {
    margin: 2%;
    width: 96%;
}

.table-home {
    margin: 5%;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-home td {
    padding: 5px;
}

.table-home tr {
    border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
  /* line 6, ../scss/home/_home.scss */
  .navbar-header {
    float: none;
  }

  /* line 9, ../scss/home/_home.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 13, ../scss/home/_home.scss */
  .navbar-collapse.in {
    overflow-y: auto;
  }
  /* line 16, ../scss/home/_home.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }
}
/* line 23, ../scss/home/_home.scss */
.navbar-header .navbar-brand {
  padding: 10px 0px;
  margin-right: -120px;
}
/* line 24, ../scss/home/_home.scss */
.navbar-header .navbar-brand img {
  width: 180px;
}
/* line 30, ../scss/home/_home.scss */
.navbar-header .razon-social {
  float: right;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 0 5px;
  line-height: 48px;
  background-color: #495b79;
  max-width: 28%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 400px) {
  /* line 44, ../scss/home/_home.scss */
  .navbar-header .menu {
    padding: 14px 5px 10px;
    margin-right: 5px !important;
  }
  /* line 46, ../scss/home/_home.scss */
  .navbar-header .menu .fa-list {
    font-size: 20px;
  }
  /* line 51, ../scss/home/_home.scss */
  .navbar-header .navbar-brand {
    padding: 13px 0;
  }
  /* line 53, ../scss/home/_home.scss */
  .navbar-header .navbar-brand img {
    width: 140px;
  }
  /* line 57, ../scss/home/_home.scss */
  .navbar-header .razon-social {
    font-size: 12px;
  }
}

/* line 63, ../scss/home/_home.scss */
.left {
  float: left;
}

/* line 66, ../scss/home/_home.scss */
.navbar-color {
  background-color: #495b79;
}

/* line 70, ../scss/home/_home.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-inverse .navbar-toggle {
  border-color: #495b79;
}

/* line 74, ../scss/home/_home.scss */
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #495b79;
  border-color: #495b79;
}

/* line 79, ../scss/home/_home.scss */
.navbar-toggle-color {
  color: white;
  font-size: 20px;
}
/* line 82, ../scss/home/_home.scss */
.navbar-toggle-color.fa-list {
  font-size: 2em;
}

/* line 86, ../scss/home/_home.scss */
.navbar-toggle-right {
  padding: 12px 10px 7px 9px;
  margin: 0px !important;
}

/* line 90, ../scss/home/_home.scss */
.navbar-inverse .navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

/* line 95, ../scss/home/_home.scss */
.navbar-inverse {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 99, ../scss/home/_home.scss */
.nav > li {
  border-color: #495b79;
  border-bottom: 1px solid transparent;
}
@media (max-width: 768px) {
  /* line 99, ../scss/home/_home.scss */
  .nav > li {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
}

/* line 106, ../scss/home/_home.scss */
.navbar-nav {
  margin: 0 -15px;
}

/* line 109, ../scss/home/_home.scss */
.main-menu-icons {
  color: white;
  position: relative;
  width: 40px;
  height: 40px;
  float: left;
  padding: 13px;
  font-size: 16px;
}

/* line 118, ../scss/home/_home.scss */
.mainpage-header {
  color: #2F4051;
  margin-top: 47px;
  height: 50px;
  line-height: 40px;
  padding-left: 10px;
}
/* line 124, ../scss/home/_home.scss */
.mainpage-header .planta-nombre {
  font-weight: bold;
  font-size: 1em;
  width: 40%;
  margin-top: 10px;
  display: inline-block;
}

.mainpage-header .button-actualizar {
    width: 15%;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;;
}

/* line 133, ../scss/home/_home.scss */
.nopad {
  padding-right: 0;
  padding-left: 0;
}

/* line 137, ../scss/home/_home.scss */
.mainpage-header-plantimg {
  width: 120px;
  margin-top: 2px;
  float: right;
  margin-right: 5px;
}

/* line 143, ../scss/home/_home.scss */
.mainpage-compon-cumpl {
  margin-top: 12px;
  margin-bottom: 15px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
  background-color: #495b79;
  border-radius: 5px;
}

/* line 153, ../scss/home/_home.scss */
.progress-bar {
  background-color: #337ab7;
}

/* line 156, ../scss/home/_home.scss */
.mainpage-update {
  width: 100%;
  text-align: center;
  padding: 0;
}
/* line 160, ../scss/home/_home.scss */
.mainpage-update span {
  font-weight: bold;
  cursor: pointer;
  color: #2F4051;
}
/* line 164, ../scss/home/_home.scss */
.mainpage-update span i {
  margin-right: 8px;
}

/* line 169, ../scss/home/_home.scss */
.mainpage-compon-cumpl-icon {
  text-align: center;
  width: 15%;
  height: 50px;
  background-color: #364359;
  border-radius: 5px 0 0 5px;
  float: left;
}

.mainpage-compon-cumpl-icon-der {
  text-align: center;
  width: 15%;
  height: 50px;
  background-color: #364359;
  border-radius: 0 5px 5px 0;
  float: right;
}

/* line 176, ../scss/home/_home.scss */
.mainpage-compon-cumpl-bar {
  width: 70%;
  height: 50px;
  float: left;
}

/* line 181, ../scss/home/_home.scss */
.white-icon {
  color: white;
  font-size: 30px;
/*  margin-left: 10px; */
  line-height: 50px;
}

/* line 187, ../scss/home/_home.scss */
.progress {
  margin: 12px;
  margin-top: 5px;
}

/* line 191, ../scss/home/_home.scss */
.mainpage-compon-cumpl-bar-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 20px;
  color: white;
  text-align: center;
  line-height: 26px;
}

/* line 199, ../scss/home/_home.scss */
.mainpage-compon-staff {
  width: 100%;
  padding: 16px;
  padding-bottom: 0;
}

/* line 204, ../scss/home/_home.scss */
.mainpage-compon-title {
  color: #495b79;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 24px;
}

/* line 209, ../scss/home/_home.scss */
.mainpage-compon-container {
  border: 1px solid #b9c4d5;
  border-radius: 4px;
  padding-top: 8px;
}

/* line 214, ../scss/home/_home.scss */
.compon-title {
  padding-left: 5px;
  line-height: 1.5em;
  font-weight: bold;
}

/* line 219, ../scss/home/_home.scss */
.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-top: 2px;
}

/* line 224, ../scss/home/_home.scss */
.list-group-item {
  position: relative;
  display: block;
  padding: 1px 5px;
  height: 26px;
  margin-left: 5%;
  margin-top: 0px;
  line-height: 22px;
  width: 90%;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 239, ../scss/home/_home.scss */
.list-group {
  padding-left: 0;
  margin-bottom: 10px;
}

/* line 243, ../scss/home/_home.scss */
.label-as-badge {
  border-radius: 1em;
  float: right;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  margin-top: 2px;
}
/* line 253, ../scss/home/_home.scss */
.label-as-badge.item-acceso {
  float: none;
  margin-top: 0;
  font-size: 12px;
}

/* line 260, ../scss/home/_home.scss */
.label-danger {
  background-color: #d9534f;
}

.label-default {
  background-color: #999;
}

/* line 263, ../scss/home/_home.scss */
.label-success {
  background-color: #90c657;
}

/* line 266, ../scss/home/_home.scss */
.mainpage-compon-staff-resume {
  background-color: red;
}

/* line 269, ../scss/home/_home.scss */
.mainpage-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  margin-bottom: 2px;
}

/* line 274, ../scss/home/_home.scss */
.font-medium {
  font-size: 14px;
}

/* line 277, ../scss/home/_home.scss */
.visitors-list-summary .border {
  border-right: 1px solid #b9c4d5;
}

/* line 280, ../scss/home/_home.scss */
.visitor-item {
  height: 35px;
  padding-top: 8px;
  margin-bottom: 5px;
}

/* line 285, ../scss/home/_home.scss */
.mainpage-compon {
  width: 100%;
  padding: 0;
  padding-top: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 290, ../scss/home/_home.scss */
.mainpage-compon.info {
  padding: 15px;
}

/* line 294, ../scss/home/_home.scss */
.home-section {
  padding: 10px 15px;
}

/* line 297, ../scss/home/_home.scss */
.label-warning {
  background: #f9a94a;
}

/* line 300, ../scss/home/_home.scss */
.list-group-title {
  font-weight: bold;
  padding: 2px 0 0 14px;
  color: #495b79;
}

/* line 305, ../scss/home/_home.scss */
.progress-bar-success {
  background-color: #90c657;
}

/* line 308, ../scss/home/_home.scss */
.progress-mini {
  height: 10px;
  margin: 0;
  margin-top: 5px;
}

/* line 313, ../scss/home/_home.scss */
.bg-transparent-success {
  background-color: transparent;
  color: #90c657;
  font-weight: 800;
}

/* line 318, ../scss/home/_home.scss */
.list-group-item-progress {
  height: auto;
  padding-bottom: 10px;
}

/* line 322, ../scss/home/_home.scss */
.footer {
  height: 20px;
}

/* line 325, ../scss/home/_home.scss */
.form-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* line 343, ../scss/home/_home.scss */
.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 363, ../scss/home/_home.scss */
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/* line 368, ../scss/home/_home.scss */
.input-append {
  height: 50px;
}

/* line 371, ../scss/home/_home.scss */
.input-group {
  float: right;
  margin: 10px;
  margin-top: 0;
}

/* line 376, ../scss/home/_home.scss */
.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  background-image: none;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
}

/* line 384, ../scss/home/_home.scss */
.add-on {
  padding-left: 10px;
}

/* line 387, ../scss/home/_home.scss */
.pre-listado {
  font-weight: bold;
  font-size: 13px;
  height: 30px;
  color: #2F4051;
  border-bottom: 1px solid #2F4051;
  padding: 5px 15px;
}
/* line 394, ../scss/home/_home.scss */
.pre-listado > div {
  float: left;
  width: 70%;
}
/* line 397, ../scss/home/_home.scss */
.pre-listado > div.col-der {
  padding-left: 10px;
  text-align: center;
  width: 30%;
}
/* line 402, ../scss/home/_home.scss */
.pre-listado.contratista > .col-izq {
  width: 70%;
}
/* line 405, ../scss/home/_home.scss */
.pre-listado.contratista > .col-der {
  text-align: center;
  width: 30%;
}

/* line 410, ../scss/home/_home.scss */
.tile-contract {
  padding: 6px 15px;
  width: 100%;
  height: 60px;
  background-color: #edf1ff;
  border-bottom: 1px solid transparent;
  border-color: #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
/* line 419, ../scss/home/_home.scss */
.tile-contract.tres-renglones {
  height: 75px;
}

.tile-contract.tabla-vacia {
  height: 50px;
  text-align: center;
  padding: 15px;
}
/* line 423, ../scss/home/_home.scss */
.tile-contract.contratistas .tile-contract-num {
  width: 70%;
}
/* line 426, ../scss/home/_home.scss */
.tile-contract.contratistas .tile-contract-fechas {
  width: 30%;
  text-align: center;
}

/* line 431, ../scss/home/_home.scss */
.tile-contract-num {
  width: 70%;
  height: 56px;
  float: left;
}

/* line 436, ../scss/home/_home.scss */
.tile-contract-fiscal {
  padding-top: 2px;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 444, ../scss/home/_home.scss */
.tile-contract-fechas {
  width: 30%;
  text-align: center;
  height: 56px;
  float: right;
}

/* line 450, ../scss/home/_home.scss */
.tile-contract-fecha {
  width: 100%;
  height: 24px;
  padding-top: 2px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 459, ../scss/home/_home.scss */
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 465, ../scss/home/_home.scss */
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}

/* line 470, ../scss/home/_home.scss */
.pagination ul > li > a, .pagination ul > li > span {
  float: left;
  padding: 0px 11px;
  line-height: 24px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

/* line 479, ../scss/home/_home.scss */
.pagination ul > li {
  display: inline;
}

/* line 483, ../scss/home/_home.scss */
.pagination {
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 8px 3px 0px 0px;
  border-radius: 4px;
}

/* line 490, ../scss/home/_home.scss */
.pagination .active > a, .pagination .active > a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}

/* line 495, ../scss/home/_home.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 498, ../scss/home/_home.scss */
.auto-height {
  height: auto;
}

/* line 502, ../scss/home/_home.scss */
.section-header {
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}
/* line 507, ../scss/home/_home.scss */
.section-header span {
  display: inline-block;
  color: #495b79;
}
/* line 511, ../scss/home/_home.scss */
.section-header span.back {
  font-size: 20px;
  padding: 0 5px 0 10px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 518, ../scss/home/_home.scss */
.section-header span.title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}
/* line 523, ../scss/home/_home.scss */
.section-header span.title .fa {
  margin-right: 5px;
}
/* line 526, ../scss/home/_home.scss */
.section-header span.title .entidad {
  text-transform: none;
}

/* line 532, ../scss/home/_home.scss */
.spinner {
  width: 100%;
  height: 200px;
  position: relative;
}
/* line 536, ../scss/home/_home.scss */
.spinner .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 3em;
  color: #495b79;
}

/* line 546, ../scss/home/_home.scss */
.disconnect {
  padding: 60px 20px 20px;
  text-align: center;
  font-size: 14px;
}

/* line 551, ../scss/home/_home.scss */
td.estado-doc, th.estado-doc {
  text-align: center;
}
/* line 553, ../scss/home/_home.scss */
td.estado-doc span, th.estado-doc span {
  float: none;
}

/* line 557, ../scss/home/_home.scss */
.bold-primaty-color, .bold-primary-color {
  font-weight: 700;
  color: #2F4051;
}

/* line 563, ../scss/home/_home.scss */
.nav-tabs.subtabs > li {
  padding: 5px 5px 0;
}
/* line 565, ../scss/home/_home.scss */
.nav-tabs.subtabs > li > a {
  padding: 5px;
}
/* line 568, ../scss/home/_home.scss */
.nav-tabs.subtabs > li.active {
  font-weight: bold;
}

/* line 573, ../scss/home/_home.scss */
.aviso-documentos-pendientes {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
}

/* line 579, ../scss/home/_home.scss */
.panel-reportes {
  margin: 20px 15px;
  border-color: #428bca;
}
/* line 582, ../scss/home/_home.scss */
.panel-reportes > .panel-heading {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
}
/* line 587, ../scss/home/_home.scss */
.panel-reportes > .panel-body {
  padding: 0;
}
/* line 590, ../scss/home/_home.scss */
.panel-reportes .list-group-item {
  width: 100%;
  line-height: 1.5;
  padding: 10px;
  padding-left: 36px;
  margin-left: 0;
  height: auto;
}
/* line 597, ../scss/home/_home.scss */
.panel-reportes .list-group-item .fa {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -8px;
  font-size: 16px;
}

/* line 3, ../scss/login/_login.scss */
.main-background {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  text-align: center;
}

/* line 11, ../scss/login/_login.scss */
.login-box {
  position: absolute;
  top: 23%;
  background: transparent;
  margin: 0px auto;
  width: 100%;
}
/* line 17, ../scss/login/_login.scss */
.login-box .icon-login {
  margin: 0;
  width: 50%;
  max-width: 200px;
}
/* line 22, ../scss/login/_login.scss */
.login-box .input-box {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 15%;
  padding-bottom: 30px;
}
@media screen and (min-width: 700px) {
  /* line 22, ../scss/login/_login.scss */
  .login-box .input-box {
    margin-top: 50px;
  }
}
/* line 31, ../scss/login/_login.scss */
.login-box input {
  font-size: 20px;
  height: 50px;
  padding-left: 15%;
}
@media screen and (min-width: 400px) {
  /* line 31, ../scss/login/_login.scss */
  .login-box input {
    font-size: 24px;
  }
}
/* line 39, ../scss/login/_login.scss */
.login-box button {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  border-radius: 0;
  border: none;
  background-color: #008ACB;
}
@media screen and (min-width: 400px) {
  /* line 39, ../scss/login/_login.scss */
  .login-box button {
    font-size: 24px;
    line-height: 60px;
    height: 60px;
    margin-top: 40px;
  }
}
/* line 56, ../scss/login/_login.scss */
.login-box .disconnect {
  padding: 0 8px 10px;
  margin-top: -10px;
  text-align: center;
  font-size: 14px;
}

/* line 64, ../scss/login/_login.scss */
.login-footer {
  min-height: 280px;
  width: 260px;
  margin: 0px auto;
  margin-top: 10px;
  text-align: center;
}

/* line 72, ../scss/login/_login.scss */
.login-box h1 {
  color: #2f4051;
  font-size: 25px;
  padding-top: 10px;
  font-family: 'Raleway';
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}
/* line 80, ../scss/login/_login.scss */
.login-box h1 img {
  width: 250px;
}

/* line 85, ../scss/login/_login.scss */
.login-box h5 {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 600;
  color: #2f4051;
  font-size: 13px;
}

/* line 93, ../scss/login/_login.scss */
.login-box hr {
  border-width: 1px;
  border-color: #0b1d30;
  opacity: 0.3;
}

/* line 99, ../scss/login/_login.scss */
.login-box .input-box .input-group-addon {
  background: #2f4051;
  border: 0px;
  color: #FFFFFF;
  border-radius: 0px;
  border-right: 1px solid #FFFFFF;
}
/* line 105, ../scss/login/_login.scss */
.login-box .input-box .input-group-addon i {
  width: 30px;
}
@media screen and (min-width: 400px) {
  /* line 105, ../scss/login/_login.scss */
  .login-box .input-box .input-group-addon i {
    width: 50px;
  }
}

/* line 113, ../scss/login/_login.scss */
.login-box .input-box h6 {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  /* line 119, ../scss/login/_login.scss */
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
}

/* line 125, ../scss/login/_login.scss */
.login-box .input-box input {
  background: #2f4051;
  border-radius: 0px;
  border: none;
  color: #FFFFFF !important;
}
/* line 130, ../scss/login/_login.scss */
.login-box .input-box input:focus {
  border: none;
}
/* line 61, ../../../../../home/diegosch/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.login-box .input-box input:-moz-placeholder {
  color: #FFFFFF;
  font-size: 0.8em;
  line-height: 2;
}
/* line 64, ../../../../../home/diegosch/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.login-box .input-box input::-moz-placeholder {
  color: #FFFFFF;
  font-size: 0.8em;
  line-height: 2;
}
/* line 67, ../../../../../home/diegosch/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.login-box .input-box input:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 0.8em;
  line-height: 2;
}
/* line 56, ../../../../../home/diegosch/.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.login-box .input-box input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 0.8em;
  line-height: 2;
}

/* line 140, ../scss/login/_login.scss */
.login-box .input-box .form-group h6 {
  margin-top: 60px;
  text-align: center;
}

/* line 145, ../scss/login/_login.scss */
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

/* line 150, ../scss/login/_login.scss */
.form-group {
  margin-bottom: 30px;
}

/* line 154, ../scss/login/_login.scss */
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

/* line 160, ../scss/login/_login.scss */
.btn-primary-blue {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 34px;
  line-height: 0px;
}

/* line 170, ../scss/login/_login.scss */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.4;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 187, ../scss/login/_login.scss */
.alert-danger, .alert-error {
  margin-top: 20px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  font-size: 18px;
  line-height: 2;
  padding: 0;
}

/* line 196, ../scss/login/_login.scss */
.alert {
  border-radius: 0;
}

/* line 8, ../scss/app.scss */
html {
  height: 100%;
}

/* line 11, ../scss/app.scss */
body {
  min-height: 100%;
}
/* line 13, ../scss/app.scss */
body .background {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
  text-align: center;
  background-size: 100%;
/*  
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-image: -moz-radial-gradient(#ffffff, #ffffff, #cccccc);
  background-image: -webkit-radial-gradient(#ffffff, #ffffff, #cccccc);
  background-image: radial-gradient(#ffffff, #ffffff, #cccccc);
*/
}
