<div class="container nopad">

    <div ng-include src="'views/partials/navbar-topPlanta.html'"></div>
    <div ng-include src="'views/partials/page-headerPlanta.html'"></div>
    
    <div fade-in>  <!-- ng-controller="collectionsCtrl" (associated via routeProvider in main.js) -->

        <div class="section-header">
            <span class="back" ng-click='goBack()'>
                <i class="fa fa-chevron-left"></i></span>
            </span>
            <span class="title">
                <i class="fa fa-briefcase"></i>
                Contratistas <span ng-show='!loading'>({{pagedItems[currentPage].length}})</span>
            </span>
        </div>

        <div class="input-append">
            <a class="input-group">
                <input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <span class="add-on"><i class="icon-search"></i></span>
                </span>
            </a>
        </div>

        <div ng-show='loading' class="spinner">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>

        <div class="pre-listado contratista" ng-show='pagedItems.length'>
            <div class="col-izq">Contratistas</div>
            <div class="col-der">Contacto</div>
        </div>
        <div ng-click='goToContratistaPage(item.id)' ng-repeat="item in pagedItems[currentPage]" class="tile-contract contratistas" >

            <div class="tile-contract-num" >
                <div class="tile-contract-fiscal">
                    <strong>{{item.RazonSocial}}</strong>
                </div>
                <div class="tile-contract-fiscal">
                    CUIT: {{item.Cuit}}
                </div>
            </div>
            <div class="tile-contract-fechas">
                <div class="tile-contract-fecha">
                    <span>Tel: {{item.Telefono}}</span>
                </div>
            </div>

        </div>

        <div class="pagination pull-right" ng-show='pagedItems.length'>
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« </a>
                </li>
                <li ng-repeat="n in range(pagedItems.length)"
                    ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="nextPage()"> »</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="footer"></div>
</div>