<div class="container nopad">

    <div ng-include src="'views/partials/navbar-topPlanta.html'"></div>
    <div ng-include src="'views/partials/page-headerPlanta.html'"></div>
    
    <div ng-show='loading' class="spinner">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    
    <div fade-in ng-show='!loading'>  <!-- ng-controller="collectionsCtrl" (associated via routeProvider in main.js) -->
        <div class="section-header">
            <span class="back" ng-click='goBack()'>
                <i class="fa fa-chevron-left"></i></span>
            </span>
            <span class="title">
                <i class="fa fa-briefcase"></i>
                <span class="entidad">{{entityData.General[0].RazonSocial}}</span>
            </span>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#documentos">Documentos</a></li>
            <li><a data-toggle="tab" href="#empleados">Empleados</a></li>
            <li><a data-toggle="tab" href="#vehiculos">Vehículos</a></li>
            <li><a data-toggle="tab" href="#maquinarias">Maquinarias</a></li>
            <li><a data-toggle="tab" href="#general">Datos de contacto</a></li>
        </ul>

        <div class="tab-content">
            <div id="general" class="tab-pane fade">
                <div ng-show="!entityData.General" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.General" class="mainpage-compon large-font info">
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información General</span>
                    </div>
                    <div class="mainpage-compon-container">
                        <ul class="list-group">
                            <li ng-show="entityData.General[0].RazonSocial" class="list-group-item">
                                <span>Razón Social: <span class="bold-primaty-color">{{entityData.General[0].RazonSocial}}</span></span>
                            </li>
                            <li ng-show="entityData.General[0].Cuit" class="list-group-item">
                                <span>CUIT: <span class="bold-primaty-color">{{entityData.General[0].Cuit}}</span></span>
                            </li>
                            <li ng-show="entityData.General[0].Email" class="list-group-item">
                                <span>Email: <span class="bold-primaty-color">{{entityData.General[0].Email}}</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="empleados" class="tab-pane fade">
                <div ng-show="!entityData.Empleados" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Empleados" class="mainpage-compon large-font" >
                    <div class="pre-listado">
                        <div class="col-izq">Empleados</div>
                        <div class="col-der">Estado</div>
                    </div>
                    <div ng-click='goToEmpleadoPage(item.id)' ng-repeat="item in entityData.Empleados" class="tile-contract" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                <strong>{{item.Apellido}} {{item.Nombre}}</strong>
                            </div>
                            <div class="tile-contract-fiscal">
                                CUIL: {{item.Cuil}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha" ng-switch on="item.Acceso">
                                <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                                    Habilitado
                                </span>
                                <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                                    Habilitado
                                </span>
                                <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                                    Inhabilitado
                                </span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Próx venc: {{item.ProxVenc}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="maquinarias" class="tab-pane fade">
                <div ng-show="!entityData.Maquinarias" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Maquinarias" class="mainpage-compon large-font" >
                    <div class="pre-listado">
                        <div class="col-izq">Maquinarias</div>
                        <div class="col-der">Estado</div>
                    </div>
                    <div ng-click='goToMaquinariaPage(item.id)' ng-repeat="item in entityData.Maquinarias" class="tile-contract tres-renglones" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                {{item.Marca}}
                            </div>
                            <div class="tile-contract-fiscal">
                                Nº de Serie: {{item.NumeroSerie}}
                            </div>
                            <div class="tile-contract-fiscal">
                                {{item.Descripcion}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha" ng-switch="item.Acceso">
                                <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                                    Habilitado
                                </span>
                                <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                                    Habilitado
                                </span>
                                <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                                    Inhabilitado
                                </span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Próx venc: {{item.ProxVenc}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="documentos" class="tab-pane fade in active">
                <div ng-show="!entityData.Documentos" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Documentos" class="mainpage-compon large-font  info">
                    <!-- <div class="mainpage-compon-title">
                        <i class="fa fa-indent"></i><span class="compon-title">Documentos</span>
                    </div> -->
                    <div class="mainpage-compon-container medium-font">
                        <table class="table users-table table-condensed table-hover" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th class="estado-doc">Estado</th>
                                    <th>Vencimento</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in entityData.Documentos">
                                    <td>{{item.Titulo}}</td>
                                    <td class="estado-doc">
                                        <span class="label label-as-badge accessicon"
                                            ng-class="{'label-danger':item.Cumple=='No','label-success':item.Cumple=='Si', 'label-warning': item.Cumple=='Si*'}">
                                            <i ng-class="{'fa fa-times':item.Cumple=='No','fa fa-check':item.Cumple=='Si', 'fa fa-exclamation-triangle':item.Cumple=='Si*'}"></i>
                                        </span>
                                    </td>
                                    <td>{{item.Vencimiento}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="vehiculos" class="tab-pane fade">
                <div ng-show="!entityData.Vehiculos" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Vehiculos" class="mainpage-compon large-font" >
                    <div class="pre-listado">
                        <div class="col-izq">Vehículos</div>
                        <div class="col-der">Estado</div>
                    </div>
                    <div ng-click='goToVehiculoPage(item.id)' ng-repeat="item in entityData.Vehiculos" class="tile-contract tres-renglones" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                {{item.Marca}}
                            </div>
                            <div class="tile-contract-fiscal">
                                Modelo: {{item.Modelo}}
                            </div>
                            <div class="tile-contract-fiscal">
                                Dominio: {{item.Dominio}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha" ng-switch="item.Acceso">
                                <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                                    Habilitado
                                </span>
                                <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                                    Habilitado
                                </span>
                                <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                                    Inhabilitado
                                </span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Próx venc: {{item.ProxVenc}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="footer"></div>
</div>