<div class="container nopad">

    <div ng-include src="'views/partials/navbar-top.html'"></div>
    <div ng-include src="'views/partials/page-header.html'"></div>

    <div ng-show='loading' class="spinner">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <div fade-in ng-show='!loading' >
        <div class="section-header">
            <span class="back" ng-click='goBack()'>
                <i class="fa fa-chevron-left"></i></span>
            </span>
            <span class="title">
                <i class="fa fa-indent"></i>
                <span class="entidad">Contrato nº {{entityData.General[0].Numero}}</span>
            </span>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#empleados">Empleados</a></li>
            <li><a data-toggle="tab" href="#vehiculos">Vehículos</a></li>
            <li ng-show="entityData.Maquinarias"><a data-toggle="tab" href="#maquinarias">Maquinarias</a></li>
            <li ng-show="entityData.SubContratistas"><a data-toggle="tab" href="#subcontratistas">Subcontratistas</a></li>
        </ul>

        <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <div ng-show="!entityData.General" class="mainpage-compon large-font" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.General" class="mainpage-compon large-font info">
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información General</span>
                    </div>
                    <div class="mainpage-compon-container">
                        <ul class="list-group">
                            <li ng-show="entityData.General[0].Numero" class="list-group-item">
                                <span>Número: <span class="bold-primaty-color">{{entityData.General[0].Numero}}</span></span>
                            </li>
                            <li ng-show="entityData.General[0].Inicio" class="list-group-item">
                                <span>Inicio: <span class="bold-primaty-color">{{entityData.General[0].Inicio}}</span></span>
                            </li>
                            <li ng-show="entityData.General[0].Fin" class="list-group-item">
                                <span>Fin: <span class="bold-primaty-color">{{entityData.General[0].Fin}}</span></span>
                            </li>
                            <li ng-show="entityData.General[0].Extension" class="list-group-item">
                                <span>Extensión: <span class="bold-primaty-color">{{entityData.General[0].Extension}}</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="empleados" class="tab-pane fade">
                <div ng-show="!entityData.Empleados" class="mainpage-compon large-font" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Empleados" class="mainpage-compon large-font" >
                    <div class="pre-listado">
                        <div class="col-izq">Empleados</div>
                        <div class="col-der">Estado</div>
                    </div>
                    <div ng-click='goToEmpleadoPage(item.id)' ng-repeat="item in entityData.Empleados" class="tile-contract" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                <strong>{{item.Apellido}} {{item.Nombre}}</strong>
                            </div>
                            <div class="tile-contract-fiscal">
                                CUIL: {{item.Cuil}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha" ng-switch="item.Acceso">
                                <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                                    Habilitado
                                </span>
                                <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                                    Exceptuado
                                </span>
                                <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                                    Inhabilitado
                                </span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Próx venc.: {{item.ProxVenc}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="maquinarias" class="tab-pane fade">
                <div ng-show="!entityData.Maquinarias" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Maquinarias" class="mainpage-compon large-font" >
                    <div class="pre-listado">
                        <div class="col-izq">Maquinarias</div>
                        <div class="col-der">Estado</div>
                    </div>
                    <div ng-click='goToMaquinariaPage(item.id)' ng-repeat="item in entityData.Maquinarias" class="tile-contract tres-renglones" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                {{item.Marca}}
                            </div>
                            <div class="tile-contract-fiscal">
                                Nº de Serie: {{item.NumeroSerie}}
                            </div>
                            <div class="tile-contract-fiscal">
                                {{item.Descripcion}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha" ng-switch="item.Acceso">
                                <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                                    Habilitado
                                </span>
                                <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                                    Exceptuado
                                </span>
                                <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                                    Inhabilitado
                                </span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Próx venc: {{item.ProxVenc}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="subcontratistas" class="tab-pane fade">
                <div ng-show="!entityData.SubContratistas" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.SubContratistas" class="mainpage-compon large-font" >
                    <div class="pre-listado contratista">
                        <div class="col-izq">Contratistas</div>
                        <div class="col-der">Contacto</div>
                    </div>
                    <div ng-click='goToContratistaPage(item.id)' ng-repeat="item in entityData.SubContratistas" class="tile-contract contratistas" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                <strong>{{item.RazonSocial}}</strong>
                            </div>
                            <div class="tile-contract-fiscal">
                                CUIT: {{item.Cuit}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha">
                                <span>Tel: {{item.Telefono}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="vehiculos" class="tab-pane fade">
                <div ng-show="!entityData.Vehiculos" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Vehiculos" class="mainpage-compon large-font" >
                    <div class="pre-listado">
                        <div class="col-izq">Vehículos</div>
                        <div class="col-der">Estado</div>
                    </div>
                    <div ng-click='goToVehiculoPage(item.id)' ng-repeat="item in entityData.Vehiculos" class="tile-contract tres-renglones" >

                        <div class="tile-contract-num" >
                            <div class="tile-contract-fiscal">
                                {{item.Marca}}
                            </div>
                            <div class="tile-contract-fiscal">
                                Modelo: {{item.Modelo}}
                            </div>
                            <div class="tile-contract-fiscal">
                                Dominio: {{item.Dominio}}
                            </div>
                        </div>
                        <div class="tile-contract-fechas">
                            <div class="tile-contract-fecha" ng-switch="item.Acceso">
                                <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                                    Habilitado
                                </span>
                                <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                                    Exceptuado
                                </span>
                                <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                                    Inhabilitado
                                </span>
                            </div>
                            <div class="tile-contract-fecha">
                                <span>Próx venc: {{item.ProxVenc}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer"></div>
</div>