<div class="mainpage-header" ng-show='plant'>
    <span class="planta-nombre" ng-click="goToHome();">
        {{plant.nombrePlanta}}
    </span>
<!--
    <img ng-show='plant.img' class="mainpage-header-plantimg" src="{{plant.img}}"/>
-->
</div>
