<div class="mainpage-header" ng-show='data'>
    <span class="planta-nombre" ng-click="goToHome();">
        {{data.Nombre}}
    </span>
<!--
    <img ng-show='data.img' class="mainpage-header-plantimg" src="{{data.img}}"/>
-->
</div>
