<div class="container nopad">

    <div ng-include src="'views/partials/navbar-top.html'"></div>
    <div ng-include src="'views/partials/page-header.html'"></div>

    <div ng-show='loading' class="spinner">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <div fade-in ng-show='!loading' >
        <div class="section-header">
            <span class="back" ng-click='goBack()'>
                <i class="fa fa-chevron-left"></i></span>
            </span>
            <span class="title">
                <i class="fa fa-user"></i>
                <span class="entidad">{{entityData.General[0].Apellido}} {{entityData.General[0].Nombre}}</span>
            </span>
        </div>

        <ul class="nav nav-tabs" style="margin-top: 15px;">
            <li class="active"><a data-toggle="tab" href="#documentos">Documentos</a></li>
            <li><a data-toggle="tab" href="#general">Datos</a></li>
            <li><a data-toggle="tab" href="#laboral">Laboral</a></li>
        </ul>


        <div class="tab-content">
            <div id="documentos" class="tab-pane fade in active">
                <div ng-show="!entityData.Documentos" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Documentos" class="mainpage-compon large-font info">
                    <!-- <div class="mainpage-compon-title">
                        <i class="fa fa-indent"></i><span class="compon-title">Documentos</span>
                    </div> -->
                    <div class="aviso-documentos-pendientes" ng-show="entityData.DocumentosPendientes">
                        <i class="fa fa-warning text-warning"></i>
                        Tiene {{entityData.DocumentosPendientes.length}} documentos pendientes de entrega
                    </div>
                    <div class="mainpage-compon-container medium-font" style="padding-top: 0;">
                        <ul class="nav nav-tabs subtabs">
                            <li class="active">
                                <a data-toggle="tab" href="#documentos-entity">Empleado</a>
                            </li>
                            <li ng-show="plant.Documentos">
                                <a data-toggle="tab" href="#documentos-planta">Contratista</a>
                            </li>
                            <li ng-show="entityData.DocumentosPendientes">
                                <a data-toggle="tab" href="#documentos-pendientes">Pendientes</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="documentos-entity" class="tab-pane fade in active">
                                <table class="table users-table table-condensed table-hover" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th>Documento</th>
                                            <th class="estado-doc">Estado</th>
                                            <th>Vencimento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in entityData.Documentos">
                                            <td>{{item.Nombre}}</td>
                                            <td class="estado-doc">
                                                <span class="label label-as-badge accessicon"
                                                ng-class="{'label-danger':item.Cumple=='No','label-success':item.Cumple=='Si', 'label-warning': item.Cumple=='Si*'}">
                                                    <i ng-class="{'fa fa-times':item.Cumple=='No','fa fa-check':item.Cumple=='Si', 'fa fa-exclamation-triangle':item.Cumple=='Si*'}"></i>
                                                </span>
                                            </td>
                                            <td>{{item.Vencimiento}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="documentos-planta" ng-show="plant.Documentos" class="tab-pane fade">
                                <table class="table users-table table-condensed table-hover" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th>Documento</th>
                                            <th class="estado-doc">Estado</th>
                                            <th>Vencimento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in plant.Documentos">
                                            <td>{{item.Nombre}}</td>
                                            <td class="estado-doc">
                                                <span class="label label-as-badge accessicon"
                                                    ng-class="{'label-danger':item.Cumple=='No','label-success':item.Cumple=='Si', 'label-warning': item.Cumple=='Si*'}">
                                                    <i ng-class="{'fa fa-times':item.Cumple=='No','fa fa-check':item.Cumple=='Si', 'fa fa-exclamation-triangle':item.Cumple=='Si*'}"></i>
                                                </span>
                                            </td>
                                            <td>{{item.Vencimiento}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="documentos-pendientes" ng-show="entityData.DocumentosPendientes" class="tab-pane fade">
                                <table class="table users-table table-condensed table-hover" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th width="70%;">Documento</th>
                                            <th class="estado-doc" width="30%;">Período</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in entityData.DocumentosPendientes">
                                            <td>{{item.Nombre}}</td>
                                            <td class="estado-doc">{{item.Periodo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="general" class="tab-pane fade">
                <div ng-show="!entityData.General" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.General" class="mainpage-compon large-font info">
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información General</span>
                    </div>
                    <div class="mainpage-compon-container">
                        <ul class="list-group">
                            <li class="list-group-item auto-height">
                                <span>Apellido: <span class="bold-primaty-color">{{entityData.General[0].Apellido}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Nombre: <span class="bold-primaty-color">{{entityData.General[0].Nombre}}</span></span>
                            </li>
                            <li class="list-group-item  auto-height">
                                <span>CUIL: <span class="bold-primaty-color">{{entityData.General[0].CUIL}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span><!-- Documento:  --><span class="bold-primaty-color">{{entityData.General[0].Documento}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Fecha de Nacimiento: <span class="bold-primaty-color">{{entityData.General[0].FechaNacimiento}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Sexo: <span class="bold-primaty-color">{{entityData.General[0].Sexo}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Estado Civil: <span class="bold-primaty-color">{{entityData.General[0].EstadoCivil}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Nacionalidad: <span class="bold-primaty-color">{{entityData.General[0].Nacionalidad}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Dirección: <span class="bold-primaty-color">{{entityData.General[0].Direccion}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>País: <span class="bold-primaty-color">{{entityData.General[0].Pais}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Provincia: <span class="bold-primaty-color">{{entityData.General[0].Provincia}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Ciudad: <span class="bold-primaty-color">{{entityData.General[0].Ciudad}}</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="laboral" class="tab-pane fade">
                <div ng-show="!entityData.Laboral" class="mainpage-compon large-font info" ng-cloak>
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Información no disponible</span>
                    </div>
                </div>
                <div ng-show="entityData.Laboral" class="mainpage-compon large-font info" >
                    <div class="mainpage-compon-title">
                        <i class="fa fa-info"></i><span class="compon-title">Info. Laboral</span>
                    </div>
                    <div class="mainpage-compon-container">
                        <ul class="list-group">
                            <li class="list-group-item auto-height">
                                <span>Fecha de Ingreso: <span class="bold-primaty-color">{{entityData.Laboral[0].FechaIngreso}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Modalidad: <span class="bold-primaty-color">{{entityData.Laboral[0].Modalidad}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Obra Social: <span class="bold-primaty-color">{{entityData.Laboral[0].ObraSocial}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Tipo: <span class="bold-primaty-color">{{entityData.Laboral[0].Tipo}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Categoría: <span class="bold-primaty-color">{{entityData.Laboral[0].Categoria}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Sindicato: <span class="bold-primaty-color">{{entityData.Laboral[0].Afiliado}}</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer"></div>
</div>