<div class="container nopad">

    <div ng-include src="'views/partials/navbar-top.html'"></div>
    <div ng-include src="'views/partials/page-header.html'"></div>

    <div fade-in>  <!-- ng-controller="collectionsCtrl" (associated via routeProvider in main.js) -->

        <div class="section-header">
            <span class="back" ng-click='goBack()'>
                <i class="fa fa-chevron-left"></i></span>
            </span>
            <span class="title">
                <i class="fa fa-truck"></i>
                Vehículos <span ng-show='!loading'>({{pagedItems[currentPage].length}})</span>
            </span>
        </div>

        <div class="input-append">
            <a class="input-group">
                <input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <span class="add-on"><i class="icon-search"></i></span>
                </span>

            </a>
        </div>

        <div ng-show='loading' class="spinner">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>

        <div class="pre-listado" ng-show='pagedItems.length'>
            <div class="col-izq">Vehículos</div>
            <div class="col-der">Estado</div>
        </div>
        <div ng-click='goToVehiculoPage(item.id)' ng-repeat="item in pagedItems[currentPage]" class="tile-contract tres-renglones" >
            <div class="tile-contract-num" >
                <div class="tile-contract-fiscal">
                    {{item.Marca}}
                </div>
                <div class="tile-contract-fiscal">
                    Modelo: {{item.Modelo}}
                </div>
                <div class="tile-contract-fiscal">
                    Dominio: {{item.Dominio}}
                </div>
            </div>
            <div class="tile-contract-fechas">
                <div class="tile-contract-fecha" ng-switch="item.Acceso">
                    <span ng-switch-when="5" class="label label-as-badge item-acceso label-info">
                        Baja
                    </span>
                    <span ng-switch-when="0" class="label label-as-badge item-acceso label-success">
                        Habilitado
                    </span>
                    <span ng-switch-when="1" class="label label-as-badge item-acceso label-warning">
                        Exceptuado
                    </span>
                    <span ng-switch-when="2" class="label label-as-badge item-acceso label-danger">
                        Inhabilitado
                    </span>
                </div>
            </div>

        </div>

        <div class="pagination pull-right" ng-show='pagedItems.length'>
            <ul>
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">« </a>
                </li>
                <li ng-repeat="n in range(pagedItems.length)"
                    ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="nextPage()"> »</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="footer"></div>
</div>