<div class="container nopad">

    <div ng-include src="'views/partials/navbar-topPlanta.html'"></div>
    <div ng-include src="'views/partials/page-headerPlanta.html'"></div>
    
    <div ng-show='loading' class="spinner">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <div fade-in ng-show='!loading' >
        <div class="section-header">
            <span class="back" ng-click='goBack()'>
                <i class="fa fa-chevron-left"></i></span>
            </span>
            <span class="title">
                <i class="fa fa-street-view"></i>
                <span class="entidad">{{entityData.Detalle}}</span>
            </span>
        </div>

                <div class="mainpage-compon large-font info">
                    <div class="mainpage-compon-container">
                        <div class="mainpage-compon-title" style="text-align:center">
                            <span class="compon-title">Información de Excepción</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item auto-height">
                                <span>Código: <span class="bold-primaty-color">{{entityData.idExcepcion}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <div ng-switch="entityData.Estado">
                                    <span>Estado: 
                                        <span ng-switch-when="Activa" class="label label-as-badge item-acceso label-success">
                                            Activa
                                        </span>
                                        <span ng-switch-when="Proxima" class="label label-as-badge item-acceso label-warning">
                                            Próxima
                                        </span>
                                        <span ng-switch-when="Eliminada" class="label label-as-badge item-acceso label-danger">
                                            Eliminada
                                        </span>
                                        <span ng-switch-when="Finalizada" class="label label-as-badge item-acceso label-info">
                                            Finalizada
                                        </span>
                                    </span>
                                </div>
                            </li>
                            <li ng-show="entityData.Baja" class="list-group-item auto-height">
                                <span>Eliminada: <span class="bold-primaty-color">{{entityData.Baja}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Identificador: <span class="bold-primaty-color">{{entityData.Identificador}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Contratista: <span class="bold-primaty-color">{{entityData.Contratista}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>C.U.I.T: <span class="bold-primaty-color">{{entityData.Cuit}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Inicio: <span class="bold-primaty-color">{{entityData.FechaInicio}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Fin: <span class="bold-primaty-color">{{entityData.FechaFin}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Usuario: <span class="bold-primaty-color">{{entityData.Usuario}}</span></span>
                            </li>
                            <li class="list-group-item auto-height">
                                <span>Realizada: <span class="bold-primaty-color">{{entityData.Realizada}}</span></span>
                            </li>
                        </ul>
                    </div>
                </div>


    </div>

    <div class="footer"></div>
</div>