<div class="container nopad">

    <div ng-include src="'views/partials/navbar-topPlanta.html'"></div>
    <div ng-include src="'views/partials/page-headerPlanta.html'"></div>

    <div ng-show='loading' class="spinner">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div ng-show='disconnect' class="disconnect">
        <p>No se puede acceder a los datos del servidor.<br> Por favor, revise su conexión a internet.</p>
        <!-- <a ng-click="update()">Reintentar conexión</a> (más abajo está el botón update) -->
    </div>
    <div fade-in ng-show='!loading'>
    <!--    <h3>{{data.Nombre}}</h3>   -->
        <div ng-show='data.Cumplimiento' class="mainpage-compon-cumpl" fade-in>
            <div class="mainpage-compon-cumpl-icon">
                <div class="info-icon bg-primary-dark">
                    <i class="fa fa-signal white-icon"></i>
                </div>
            </div>
            <div class="mainpage-compon-cumpl-bar">
                <div class="mainpage-compon-cumpl-bar-title">Cumplimiento</div>
                <div class="progress progress-striped">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{data.Cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{data.Cumplimiento}}%;">
                    {{data.Cumplimiento}}%
                  </div>
                </div>
            </div>
            <div class="mainpage-compon-cumpl-icon-der">
                <div class="info-icon bg-primary-dark" ng-click="update()">
                    <i class="fa fa-refresh white-icon"></i>
                </div>
            </div>
        </div>
    <!--    
        <div class="mainpage-update">
            <span ng-click="update()"><i class="fa fa-refresh"></i>Actualizar</span>
        </div>
    -->
        <div ng-show='data.Personal' class="mainpage-compon-staff home-section">
            <div class="mainpage-compon-title">
                <i class="fa fa-group"></i><span class="compon-title">Recursos</span>
            </div>
            <div class="mainpage-compon-container">
                <table class="table-home" style="border: 1px solid #ddd;">
                    <tbody>
                        <tr> 
                            <td width="60%">                    
                                Empleados
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-success label-as-badge" ng-click="goToPersonal();">{{data.Personal.permitidos}}</span>
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-danger label-as-badge" ng-click="goToPersonal();">{{data.Personal.denegados}}</span>
                            </td>
                            <td width="10%" class="estado-doc" ng-show="data.Menu[0].Excepciones">  
                                <span class="label label-warning label-as-badge" ng-click="goToExcepciones();">{{data.Personal.excepciones}}</span>
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-default label-as-badge" ng-click="goToPersonal();">{{data.Personal.sinmovimiento}}</span>
                            </td>
                        </tr>
                        <tr> 
                            <td width="60%">                    
                                Vehiculos
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-success label-as-badge" ng-click="goToVehiculos();">{{data.Vehiculos.permitidos}}</span>
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-danger label-as-badge" ng-click="goToVehiculos();">{{data.Vehiculos.denegados}}</span>
                            </td>
                            <td width="10%" class="estado-doc" ng-show="data.Menu[0].Excepciones">  
                                <span class="label label-warning label-as-badge" ng-click="goToExcepciones();">{{data.Vehiculos.excepciones}}</span>
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-default label-as-badge" ng-click="goToVehiculos();">{{data.Vehiculos.sinmovimiento}}</span>
                            </td>
                        </tr>
                        <tr> 
                            <td width="60%">                    
                                Maquinarias
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-success label-as-badge" ng-click="goToMaquinarias();">{{data.Maquinarias.permitidos}}</span>
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-danger label-as-badge" ng-click="goToMaquinarias();">{{data.Maquinarias.denegados}}</span>
                            </td>
                            <td width="10%" class="estado-doc" ng-show="data.Menu[0].Excepciones">  
                                <span class="label label-warning label-as-badge" ng-click="goToExcepciones();">{{data.Maquinarias.excepciones}}</span>
                            </td>
                            <td width="10%" class="estado-doc">  
                                <span class="label label-default label-as-badge" ng-click="goToMaquinarias();">{{data.Maquinarias.sinmovimiento}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row visitors-list-summary text-center text-primary">
                    <div class="col-md-6 col-sm-6 col-xs-6 visitor-item border">
                        <!-- <div class="mainpage-title">Permitidos</div> -->
                        <span class="label label-big label-success font-medium">
                            <i class="fa fa-thumbs-up text-white"></i>
                            {{((data.Personal.permitidos + data.Vehiculos.permitidos + data.Maquinarias.permitidos)/(data.Personal.permitidos + data.Personal.denegados + data.Vehiculos.permitidos + data.Vehiculos.denegados + data.Maquinarias.permitidos + data.Maquinarias.denegados)*100).toFixed()}}%
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 visitor-item">
                        <!-- <div class="mainpage-title">Denegados</div> -->
                        <span class="label label-big label-danger font-medium">
                            <i class="fa fa-thumbs-down text-white"></i>
                            {{((data.Personal.denegados + data.Vehiculos.denegados + data.Maquinarias.denegados)/(data.Personal.permitidos + data.Personal.denegados + data.Vehiculos.permitidos + data.Vehiculos.denegados + data.Maquinarias.permitidos + data.Maquinarias.denegados)*100).toFixed()}}%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show='data.Contratos' class="mainpage-compon home-section">
            <div class="mainpage-compon-title" ng-click="goToContratos();">
                <i class="fa fa-indent"></i><span class="compon-title">Contratos</span>
            </div>
            <div class="mainpage-compon-container">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{data.Contratos[0].Activos}}</span>
                        Activos
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge">{{data.Contratos[0].EnFecha}}</span>
                        En fecha
                    </li>
                    <li class="list-group-item">
                        <span class="label label-danger label-as-badge">{{data.Contratos[0].Vencidos}}</span>
                        Vencidos
                    </li>
                    <li class="list-group-item">
                        <span class="label label-warning label-as-badge">{{data.Contratos[0].PorVencer}}</span>
                        Próximos a vencer
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show='data.Contratistas' class="mainpage-compon home-section">
            <div class="mainpage-compon-title" ng-click="goToContratistas();">
                <i class="fa fa-briefcase"></i><span class="compon-title">Contratistas</span>
            </div>
            <div class="mainpage-compon-container">
                <div class="list-group-title">Permanentes</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{data.Contratistas.permanentes.Contratistas}}</span>
                        Contratistas
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge">{{data.Contratistas.permanentes.Permitido}}</span>
                        Personal Permitido
                    </li>
                    <li class="list-group-item">
                        <span class="label label-danger label-as-badge">{{data.Contratistas.permanentes.Denegado}}</span>
                        Personal Denegado
                    </li>
                </ul>
                <div class="list-group-title">Esporádicos</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{data.Contratistas.esporadicos.Contratistas}}</span>
                        Contratistas
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge">{{data.Contratistas.esporadicos.Permitido}}</span>
                        Personal Permitido
                    </li>
                    <li class="list-group-item">
                        <span class="label label-danger label-as-badge">{{data.Contratistas.esporadicos.Denegado}}</span>
                        Personal Denegado
                    </li>
                </ul>
                <div class="list-group-title">Subcontrataciones</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{data.Contratistas.subcontrataciones.EmpresasSubContratistas}}</span>
                        Empresas Subcontratistas
                    </li>
                </ul> 
            </div>
        </div>

        <div ng-show='data.Ranking' class="mainpage-compon home-section">
            <div class="mainpage-compon-title">
                <i class="fa fa-trophy"></i><span class="compon-title">Ranking</span>
            </div>
            <div class="mainpage-compon-container">
                <ul class="list-group">
                        <li ng-repeat="rank in data.Ranking" class="list-group-item list-group-item-progress">
                            <div>{{rank.Nombre}}</div> <span class="badge pull-right bg-transparent-success"> {{rank.Cumplimiento}}% </span>
                            <div class="progress progress-striped progress-mini">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{rank.Cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{rank.Cumplimiento}}%;"></div>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer"></div>
</div>
