<div class="container nopad">

    <div ng-include src="'views/partials/navbar-topPlanta.html'"></div>
    <div ng-include src="'views/partials/page-headerPlanta.html'"></div>
    
    <div fade-in>  <!-- ng-controller="collectionsCtrl" (associated via routeProvider in main.js) -->
        
        

    </div>

    <div class="footer"></div>
</div>