<div class="container nopad">

    <div ng-include src="'views/partials/navbar-top.html'"></div>
    <div ng-include src="'views/partials/page-header.html'"></div>

    <div ng-show='loading' class="spinner">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <div ng-show='disconnect' class="disconnect">
        <p>No se puede acceder a los datos del servidor.<br> Por favor, revise su conexión a internet.</p>
        <!-- <a ng-click="update()">Reintentar conexión</a> (más abajo está el botón update) -->
    </div>

    <div fade-in ng-show='!loading'>
        <div ng-show='plant.cumplimiento' class="mainpage-compon-cumpl" fade-in>
            <div class="mainpage-compon-cumpl-icon">
                <div class="info-icon bg-primary-dark">
                    <i class="fa fa-signal white-icon"></i>
                </div>
            </div>
            <div class="mainpage-compon-cumpl-bar">
                <div class="mainpage-compon-cumpl-bar-title">Cumplimiento</div>
                <div class="progress progress-striped">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{plant.cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{plant.cumplimiento}}%;">
                    {{plant.cumplimiento}}%
                  </div>
                </div>
            </div>
            <div class="mainpage-compon-cumpl-icon-der">
                <div class="info-icon bg-primary-dark" ng-click="update()">
                    <i class="fa fa-refresh white-icon"></i>
                </div>
            </div>
        </div>

    <!--
        <div class="mainpage-update">
            <span ng-click="update()"><i class="fa fa-refresh"></i>Actualizar</span>
        </div>
    -->        
        <div ng-show='plant.Personal' class="mainpage-compon-staff home-section">
            <div class="mainpage-compon-title">
                <i class="fa fa-group"></i><span class="compon-title">Recursos</span>
            </div>
            <div class="mainpage-compon-container">
                <table class="table-home" style="border: 1px solid #ddd;">
                    <tbody>
                        <tr> 
                            <td width="60%">                    
                                Empleados
                            </td>
                            <td width="10%" style="text-align: center;">  
                                <span class="label label-success label-as-badge" ng-click="goToPersonal();">{{plant.Personal[0].permitidos}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-danger label-as-badge" ng-click="goToPersonal();">{{plant.Personal[0].denegados}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-warning label-as-badge" ng-click="goToPersonal();">{{plant.Personal[0].exceptuados}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-default label-as-badge" ng-click="goToPersonal();">{{plant.Personal[0].sinmovimiento}}</span>
                            </td>
                        </tr>
                        <tr> 
                            <td width="60%">                    
                                Vehiculos
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-success label-as-badge" ng-click="goToVehiculos();">{{plant.Vehiculos[0].permitidos}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-danger label-as-badge" ng-click="goToVehiculos();">{{plant.Vehiculos[0].denegados}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-warning label-as-badge" ng-click="goToVehiculos();">{{plant.Vehiculos[0].exceptuados}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-default label-as-badge" ng-click="goToVehiculos();">{{plant.Vehiculos[0].sinmovimiento}}</span>
                            </td>
                        </tr>
                        <tr> 
                            <td width="60%">                    
                                Maquinarias
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-success label-as-badge" ng-click="goToMaquinarias();">{{plant.Maquinarias[0].permitidos}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-danger label-as-badge" ng-click="goToMaquinarias();">{{plant.Maquinarias[0].denegados}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-warning label-as-badge" ng-click="goToMaquinarias();">{{plant.Maquinarias[0].exceptuados}}</span>
                            </td>
                            <td width="10%" style="text-align: center; padding: 5px;">  
                                <span class="label label-default label-as-badge" ng-click="goToMaquinarias();">{{plant.Maquinarias[0].sinmovimiento}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row visitors-list-summary text-center text-primary">
                    <div class="col-md-6 col-sm-6 col-xs-6 visitor-item border">
                        <!-- <div class="mainpage-title">Permitidos</div> -->
                        <span class="label label-big label-success font-medium">
                            <i class="fa fa-thumbs-up text-white"></i>
                            {{((plant.Personal[0].permitidos + plant.Vehiculos[0].permitidos + plant.Maquinarias[0].permitidos)/(plant.Personal[0].permitidos + plant.Personal[0].denegados + plant.Vehiculos[0].permitidos + plant.Vehiculos[0].denegados + plant.Maquinarias[0].permitidos + plant.Maquinarias[0].denegados)*100).toFixed()}}%
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 visitor-item">
                        <!-- <div class="mainpage-title">Denegados</div> -->
                        <span class="label label-big label-danger font-medium">
                            <i class="fa fa-thumbs-down text-white"></i>
                            {{((plant.Personal[0].denegados + plant.Vehiculos[0].denegados + plant.Maquinarias[0].denegados)/(plant.Personal[0].permitidos + plant.Personal[0].denegados + plant.Vehiculos[0].permitidos + plant.Vehiculos[0].denegados + plant.Maquinarias[0].permitidos + plant.Maquinarias[0].denegados)*100).toFixed()}}%
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show='plant.Contratos' class="mainpage-compon home-section">
            <div class="mainpage-compon-title" ng-click="goToContratos();">
                <i class="fa fa-indent"></i><span class="compon-title">Contratos</span>
            </div>
            <div class="mainpage-compon-container">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{plant.Contratos[0].Activos}}</span>
                        Activos
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge">{{plant.Contratos[0].EnFecha}}</span>
                        En fecha
                    </li>
                    <li class="list-group-item">
                        <span class="label label-danger label-as-badge">{{plant.Contratos[0].Vencidos}}</span>
                        Vencidos
                    </li>
                    <li class="list-group-item">
                        <span class="label label-warning label-as-badge">{{plant.Contratos[0].proximosAVencer}}</span>
                        Próximos a vencer
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show='plant.Documentos' class="mainpage-compon-staff home-section">
            <div class="mainpage-compon-title">
                <i class="fa fa-check"></i><span class="compon-title">Documentos</span>
            </div>
            <div class="mainpage-compon-container medium-font">
                <table class="table users-table table-condensed table-hover" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th class="estado-doc">Estado</th>
                            <th>Vencimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in plant.Documentos">
                            <td>{{item.Nombre}}</td>
                            <td class="estado-doc">
                                <span class="label label-as-badge accessicon"
                                    ng-class="{'label-danger':item.Cumple=='No','label-success':item.Cumple=='Si', 'label-warning': item.Cumple=='Si*'}">
                                    <i ng-class="{'fa fa-times':item.Cumple=='No','fa fa-check':item.Cumple=='Si', 'fa fa-exclamation-triangle':item.Cumple=='Si*'}"></i>
                                </span>
                            </td>
                            <td>{{item.Vencimiento}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-show='plant.Contratistas' class="mainpage-compon home-section">
            <div class="mainpage-compon-title" ng-click="goToContratistas();">
                <i class="fa fa-briefcase"></i><span class="compon-title">Contratistas</span>
            </div>
            <div class="mainpage-compon-container">
                <div class="list-group-title">Permanentes</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{plant.Contratistas[0].permanentes.Contratistas}}</span>
                        Contratistas
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge">{{plant.Contratistas[0].permanentes.Permitido}}</span>
                        Personal Permitido
                    </li>
                    <li class="list-group-item">
                        <span class="label label-danger label-as-badge">{{plant.Contratistas[0].permanentes.Denegado}}</span>
                        Personal Denegado
                    </li>
                </ul>
                <div class="list-group-title">Esporádicos</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{plant.Contratistas[0].esporadicos.Contratistas}}</span>
                        Contratistas
                    </li>
                    <li class="list-group-item">
                        <span class="label label-success label-as-badge">{{plant.Contratistas[0].esporadicos.Permitido}}</span>
                        Personal Permitido
                    </li>
                    <li class="list-group-item">
                        <span class="label label-danger label-as-badge">{{plant.Contratistas[0].esporadicos.Denegado}}</span>
                        Personal Denegado
                    </li>
                </ul>
                <div class="list-group-title">Subcontrataciones</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-info label-as-badge">{{plant.Contratistas[0].subcontrataciones.empresassubcontratistas}}</span>
                        Empresas Subcontratistas
                    </li>
                </ul>
            </div>
        </div>

        <div ng-show='plant.Ranking' class="mainpage-compon home-section">
            <div class="mainpage-compon-title">
                <i class="fa fa-trophy"></i><span class="compon-title">Ranking</span>
            </div>
            <div class="mainpage-compon-container">
                <ul class="list-group">
                        <li ng-repeat="rank in plant.ranking" class="list-group-item list-group-item-progress">
                            <div>{{rank.nombre}}</div> <span class="badge pull-right bg-transparent-success"> {{rank.cumplimiento}}% </span>
                            <div class="progress progress-striped progress-mini">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{rank.cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{rank.cumplimiento}}%;"></div>
                            </div>
                        </li>
                </ul>
            </div>
        </div>

        <div ng-show='plant.Calendario' class="mainpage-compon home-section">
            <div class="mainpage-compon-title">
                <i class="fa fa-calendar"></i><span class="compon-title">Próximos vencimientos</span>
            </div>
            <div class="mainpage-compon-container">
                <div ng-repeat="item in plant.Calendario"  ng-switch="item.titulo">
                    <div ng-switch-when="Documentos" ng-show="item.fechaVencimiento">
                        <div class="list-group-title">{{item.fechaVencimiento}}<!--  - {{item.titulo}} --></div>
                        <ul class="list-group">
                            <li class="list-group-item auto-height" ng-repeat="data in item.data">
                                <span ng-show="data.cantidad > 1" class="label label-danger label-as-badge">{{data.cantidad}}</span>
                                {{data.titulo}}
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="Contrato" ng-show="item.fechaVencimiento">
                        <div class="list-group-title">{{item.fechaVencimiento}}<!--  - {{item.titulo}} --></div>
                        <ul class="list-group">
                            <li class="list-group-item auto-height">
                                <div class="left">Número: </div><span class="bold-primaty-color float-right">{{item.data.Numero}}</span>
                            </li>
                            <li class="list-group-item auto-height">
                                <div class="left">Inicio: </div><span class="bold-primaty-color float-right">{{item.data.Inicio}}</span>
                            </li>
                            <li class="list-group-item auto-height">
                                <div><div class="left">Fin: </div><span class="bold-primaty-color float-right">{{item.data.Fin}}</span>
                            </li>
                            <li class="list-group-item auto-height">
                                <div class="left">Fiscal: </div><span class="bold-primaty-color float-right">{{item.data.Fiscal}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer"></div>
</div>
